.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ---------------------------------------------------------------------------------------------------------- */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
  box-shadow: rgb(149, 157, 165) 0px 8px 24px;
  min-height: 500px;
  width: 40%;
  /* max-height: 700px; */
  margin: 50px auto;

}

li{
  margin-top: 20px;
  background-color: darkkhaki;
  text-align: left;
  font-size: 20px;
  list-style: none;
  padding: 20px;
}

input{
  width: 80%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  outline: none;
}

button{
  width: 15%;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  border: none;
}